{% extends "base.html" %}

{% block content %}
        
        <!-- Slider -->
        <div class="slider-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 slider">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="static/img/slider/1.jpg">
                                    <img src="static/img/slider/1.jpg">
                                    <div class="flex-caption">
                                    	All our cars are registered and approved by Luther College Security to ensure the safety of our users. Register your car with NorseHorse to offer rides at your own rate. Help a friend... earn a little.
                                    </div>
                                </li>
                                <li data-thumb="static/img/slider/2.jpg">
                                    <img src="static/img/slider/2.jpg">
                                    <div class="flex-caption">
                                    	NorseHorse exclusively serves Luther College students, faculty and staff, thus requiring a luther.edu email extension for registration. Our rideshare app is designed to cater for the transportation need both to and from the college. 
                                    </div>
                                </li>
                                <li data-thumb="static/img/slider/3.jpg">
                                    <img src="static/img/slider/3.jpg">
                                    <div class="flex-caption">
                                    	 NorseHorse rideshare app is free and easy to use. The webapp user interface makes it easy to schedule rides, view requests and offers and creates prompt user notifications. 
                                    </div>
                                </li>
                                <li data-thumb="static/img/slider/4.jpg">
                                    <img src="static/img/slider/4.jpg">
                                    <div class="flex-caption">
                                    	NorseHorse organizes rides from Luther College to airpots and key travel points around the Midwest such as Minneapolis, Chicago, Madison and Des Moines. We also organize shopping shuttles to nearby retail stores like WalMart.
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Presentation -->
        <div class="presentation-container">
        	<div class="container">
        		<div class="row">
	        		<div class="col-sm-12 wow fadeInLeftBig">
	            		<h1>We are <span class="violet">NorseHorse</span>, a super cool rideshare program.</h1>
	            		<p>We orgranize rides from Luther College to airports and nearby cities. Let us connect you to a driver.</p>
	            	</div>
            	</div>
        	</div>
        </div>

        <!-- Services -->
        <div class="services-container">
	        <div class="container">
	            <div class="row">
	            	<div class="col-sm-3">
		                <div class="service wow fadeInUp">
		                    <div class="service-icon"><i class="fa fa-eye"></i></div>
		                    <h3>Beautiful Websites</h3>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
		                    <a class="big-link-1" href="services.html">Read more</a>
		                </div>
					</div>
					<div class="col-sm-3">
		                <div class="service wow fadeInDown">
		                    <div class="service-icon"><i class="fa fa-table"></i></div>
		                    <h3>Responsive Layout</h3>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
		                    <a class="big-link-1" href="services.html">Read more</a>
		                </div>
	                </div>
	                <div class="col-sm-3">
		                <div class="service wow fadeInUp">
		                    <div class="service-icon"><i class="fa fa-magic"></i></div>
		                    <h3>Awesome Logos</h3>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
		                    <a class="big-link-1" href="services.html">Read more</a>
		                </div>
	                </div>
	                <div class="col-sm-3">
		                <div class="service wow fadeInDown">
		                    <div class="service-icon"><i class="fa fa-print"></i></div>
		                    <h3>High Res Prints</h3>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
		                    <a class="big-link-1" href="services.html">Read more</a>
		                </div>
	                </div>
	            </div>
	        </div>
        </div>

        <!-- Latest work -->
        <div class="work-container">
	        <div class="container">
	        	<div class="row">
		            <div class="col-sm-12 work-title wow fadeIn">
		                <h2>Our City Commutes</h2>
		            </div>
	            </div>
	            <div class="row">
	            	<div class="col-sm-3">
		                <div class="work wow fadeInUp">
		                    <img src="static/img/portfolio/minneapolis.jpg" alt="Lorem Website" data-at2x="static/img/portfolio/minneapolis.jpg">
		                    <h3>Minneapolis, MN</h3>
		                    <p>Visit the parks and lakes in the Twin Cities or schedule a ride to the MSP airport </p>
		                    <div class="work-bottom">
		                        <a class="big-link-2 view-work" href="static/img/portfolio/minneapolis.jpg"><i class="fa fa-search"></i></a>
		                        <a class="big-link-2" href="portfolio.html"><i class="fa fa-link"></i></a>
		                    </div>
		                </div>
	                </div>
	                <div class="col-sm-3">
		                <div class="work wow fadeInDown">
		                    <img src="static/img/portfolio/chicago.jpg" alt="Ipsum Logo" data-at2x="static/img/portfolio/chicago.jpg">
		                    <h3>Chicago, IL</h3>
		                    <p>Famed for its bold architecture and a skyline that is punctuated by skyscrapers</p>
		                    <div class="work-bottom">
		                        <a class="big-link-2 view-work" href="static/img/portfolio/chicago.jpg"><i class="fa fa-search"></i></a>
		                        <a class="big-link-2" href="portfolio.html"><i class="fa fa-link"></i></a>
		                    </div>
		                </div>
		            </div>
		            <div class="col-sm-3">
		                <div class="work wow fadeInUp">
		                    <img src="static/img/portfolio/madison.jpg" alt="Dolor Prints" data-at2x="static/img/portfolio/madison.jpg">
		                    <h3>Madison, WI</h3>
		                    <p>Next to Milwaukee is the capital city known for its domed Wisconsin State Capitol </p>
		                    <div class="work-bottom">
		                        <a class="big-link-2 view-work" href="static/img/portfolio/madison.jpg"><i class="fa fa-search"></i></a>
		                        <a class="big-link-2" href="portfolio.html"><i class="fa fa-link"></i></a>
		                    </div>
		                </div>
		            </div>
		            <div class="col-sm-3">
		                <div class="work wow fadeInDown">
		                    <img src="static/img/portfolio/desmoines.jpg" alt="Sit Amet Website" data-at2x="static/img/portfolio/desmoines.jpg">
		                    <h3>Des Moines, IA</h3>
		                    <p>Des Moines is the capital and the most populous city in the state of Iowa.</p>
		                    <div class="work-bottom">
		                        <a class="big-link-2 view-work" href="static/img/portfolio/desmoines.jpg"><i class="fa fa-search"></i></a>
		                        <a class="big-link-2" href="portfolio.html"><i class="fa fa-link"></i></a>
		                    </div>
		                </div>
		            </div>
	            </div>
	        </div>
        </div>

        <!-- Testimonials -->
        <div class="testimonials-container">
	        <div class="container">
	        	<div class="row">
		            <div class="col-sm-12 testimonials-title wow fadeIn">
		                <h2>Testimonials</h2>
		            </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-10 col-sm-offset-1 testimonial-list">
	                	<div role="tabpanel">
	                		<!-- Tab panes -->
	                		<div class="tab-content">
	                			<div role="tabpanel" class="tab-pane fade in active" id="tab1">
	                				<div class="testimonial-image">
	                					<img src="static/img/testimonials/1.jpg" alt="" data-at2x="static/img/testimonials/1.jpg">
	                				</div>
	                				<div class="testimonial-text">
		                                <p>
		                                	"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. 
		                                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. 
		                                	Lorem ipsum dolor sit amet, consectetur..."<br>
		                                	<a href="#">Lorem Ipsum, dolor.co.uk</a>
		                                </p>
	                                </div>
	                			</div>
	                			<div role="tabpanel" class="tab-pane fade" id="tab2">
	                				<div class="testimonial-image">
	                					<img src="static/img/testimonials/2.jpg" alt="" data-at2x="static/img/testimonials/2.jpg">
	                				</div>
	                				<div class="testimonial-text">
		                                <p>
		                                	"Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip 
		                                	ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
		                                	lobortis nisl ut aliquip ex ea commodo consequat..."<br>
		                                	<a href="#">Minim Veniam, nostrud.com</a>
		                                </p>
	                                </div>
	                			</div>
	                			<div role="tabpanel" class="tab-pane fade" id="tab3">
	                				<div class="testimonial-image">
	                					<img src="static/img/testimonials/3.jpg" alt="" data-at2x="static/img/testimonials/3.jpg">
	                				</div>
	                				<div class="testimonial-text">
		                                <p>
		                                	"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. 
		                                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. 
		                                	Lorem ipsum dolor sit amet, consectetur..."<br>
		                                	<a href="#">Lorem Ipsum, dolor.co.uk</a>
		                                </p>
	                                </div>
	                			</div>
	                			<div role="tabpanel" class="tab-pane fade" id="tab4">
	                				<div class="testimonial-image">
	                					<img src="static/img/testimonials/1.jpg" alt="" data-at2x="static/img/testimonials/1.jpg">
	                				</div>
	                				<div class="testimonial-text">
		                                <p>
		                                	"Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip 
		                                	ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
		                                	lobortis nisl ut aliquip ex ea commodo consequat..."<br>
		                                	<a href="#">Minim Veniam, nostrud.com</a>
		                                </p>
	                                </div>
	                			</div>
	                		</div>
	                		<!-- Nav tabs -->
	                		<ul class="nav nav-tabs" role="tablist">
	                			<li role="presentation" class="active">
	                				<a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab"></a>
	                			</li>
	                			<li role="presentation">
	                				<a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab"></a>
	                			</li>
	                			<li role="presentation">
	                				<a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab"></a>
	                			</li>
	                			<li role="presentation">
	                				<a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab"></a>
	                			</li>
	                		</ul>
	                	</div>
	                </div>
	            </div>
	        </div>
        </div>

        {% include "footer.html" %}

{% endblock %}